// Sample ICD2 linker command file for 16F767
LIBPATH  .

CODEPAGE   NAME=vectors	START=0x0		END=0x3		PROTECTED
CODEPAGE   NAME=interrupt	START=0x4		END=0x0FF
CODEPAGE   NAME=page0_1	START=0x100		END=0x1FF
CODEPAGE   NAME=page0_2a	START=0x200		END=0x22F
CODEPAGE   NAME=page0_2b	START=0x230		END=0x2FF
CODEPAGE   NAME=page0_3	START=0x300		END=0x3FF
CODEPAGE   NAME=page0_4	START=0x400		END=0x4FF
CODEPAGE   NAME=page0_5	START=0x500		END=0x5FF
CODEPAGE   NAME=page0_6_7	START=0x600		END=0x7FF
CODEPAGE   NAME=page1		START=0x800		END=0xFFF
CODEPAGE   NAME=page2	START=0x1000	END=0x17FF
CODEPAGE   NAME=page3	START=0x1800	END=0x1EFF
CODEPAGE   NAME=debug		START=0x1F00	END=0x1FFF	PROTECTED
CODEPAGE   NAME=.idlocs	START=0x2000	END=0x2003	PROTECTED
CODEPAGE   NAME=.test_vect START=0x2004	END=0x2005	PROTECTED
CODEPAGE   NAME=.device_id START=0x2006	END=0x2006	PROTECTED
CODEPAGE   NAME=.config	START=0x2007	END=0x2009	PROTECTED
CODEPAGE   NAME=.test		START=0x200A	END=0x203F	PROTECTED

DATABANK  NAME=sfr0		START=0x0		END=0x1F		PROTECTED
DATABANK  NAME=sfr1		START=0x80		END=0x9F		PROTECTED
DATABANK  NAME=sfr2		START=0x100		END=0x10F	PROTECTED
DATABANK  NAME=sfr3		START=0x180		END=0x18F	PROTECTED

DATABANK   NAME=gpr0		START=0x20		END=0x5F 
DATABANK   NAME=DTMF	START=0x60		END=0x6F
DATABANK   NAME=gpr1		START=0xA0		END=0xEF
DATABANK   NAME=gpr2		START=0x110		END=0x164
DATABANK   NAME=dbgspr2	START=0x165		END=0x16F	PROTECTED
DATABANK   NAME=gpr3		START=0x190		END=0x1EF

SHAREBANK  NAME=dbgspr	START=0x70		END=0x70		PROTECTED
SHAREBANK  NAME=dbgspr	START=0xF0		END=0xF0		PROTECTED
SHAREBANK  NAME=dbgspr	START=0x170		END=0x170	PROTECTED
SHAREBANK  NAME=dbgspr	START=0x1F0		END=0x1F0	PROTECTED

SHAREBANK  NAME=gprs		START=0x71		END=0x7F
SHAREBANK  NAME=gprs		START=0xF1		END=0xFF
SHAREBANK  NAME=gprs		START=0x171		END=0x17F
SHAREBANK  NAME=gprs		START=0x1F1		END=0x1FF

SECTION    NAME=RESET	ROM=vectors		// Reset vectors
SECTION    NAME=INTERRUPT	ROM=interrupt			// ROM code space -interrupt
SECTION    NAME=MAIN		ROM=page0_1		// ROM code space
SECTION    NAME=MODE0000		ROM=page0_2a	// ROM code space
SECTION    NAME=DTMF_SUB		ROM=page0_2b	// ROM code space
SECTION    NAME=MODE0001		ROM=page0_3		// ROM code space
SECTION    NAME=MODE1000		ROM=page0_4		// ROM code space
SECTION    NAME=OPEN				ROM=page0_5		// ROM code space
SECTION    NAME=SUBROUTINES	ROM=page0_6_7	// ROM code space
SECTION    NAME=PROG1	ROM=page1		// ROM code space
SECTION    NAME=PROG2	ROM=page2		// ROM code space
SECTION    NAME=PROG3	ROM=page3		// ROM code space
SECTION    NAME=IDLOCS	ROM=.idlocs		// ID locations
SECTION    NAME=TEST_VECT ROM=.test_vect	// Test vector 
SECTION    NAME=DEVICEID  ROM=.device_id	// Device ID
SECTION    NAME=CONFIG	ROM=.config		// Configuration bits location
SECTION    NAME=TEST		ROM=.test			// Test 
